// VuePoint.js Stylus CSS - Variables
@require '~vuetify/src/stylus/settings/_colors'

// VARIABLES - Intended for general use and available to be overridden as needed
$vp-color ?= {
  primary: $blue.darken-3,
  secondary: $red.darken-3,
  accent: $orange.lighten-1,
  shaded: $grey.lighten-2,
  info: $teal.lighten-1,
  warning: $amber.base,
  error: $deep-orange.accent-4,
  success: $green.accent-3
}
$vp-toolbar-height ?= 50px
$vp-applet-lg-size ?= 42px
$vp-applet-sm-size ?= 30px
$vp-badge-offset ?= 8px
$vp-badge-size ?= 24px
$vp-badge-bg ?= $red.darken-1
