// VuePt (vp) Stylus CSS - Selectors

// VARIABLES - Intended for use as interpolated CSS selectors referencing various pieces of Vuetify

// Toolbar
vp-toolbar-wrapper = 'div.application--wrap > .v-toolbar'
vp-toolbar = 'div.application--wrap > .v-toolbar .v-toolbar__content'
vp-toolbar-waffle-menu = 'div.application--wrap > .v-toolbar .v-btn.v-toolbar__side-icon'
vp-toolbar-title = 'div.application--wrap > .v-toolbar .v-toolbar__title'
// Drawer
vp-drawer-header = 'aside.v-navigation-drawer > .v-card:nth-of-type(1)'
vp-drawer-waffle-menu = 'aside.v-navigation-drawer > .v-card:nth-of-type(1) button'
// Content
vp-main-content = 'div.application--wrap > main.v-content'
// Icons
vp-waffle-menu-icon = vp-toolbar-waffle-menu + ' .v-icon, ' + vp-drawer-waffle-menu + ' .v-icon'
// Badges
vp-badge = '.v-badge__badge.primary'
// Dividers
vp-divider-vertical = '.v-divider--vertical'
